.Box {
    position: relative;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

.Box-remove-button {
    position: absolute;
    right: -20px;
    top: 5px;
    height: fit-content;
    width: fit-content;
    font-weight: bold;
}

.Box-remove-button:hover {
    text-decoration: underline;
    cursor: pointer;
}